:root {
    --body-bg-color: #dce4e3;
    --green: #18c29c;
    --light-green: #8ed7c6;
    --light-grey: #dce4e3;
    --text-color: #084236;
  }

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;

    color: var(--text-color);

    background-color: var(--body-bg-color);
}

nav {
    width: 20%;
    min-width: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: var(--green);
}

/*
============================================================
MENU SECTION
============================================================
*/

nav ul {
    width: 90%;
    margin-top: 2vh;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
nav ul li:first-child {
    justify-content: space-between;
}
nav ul li {
    width: 90%;
    padding: 1rem 0.5rem;

    display: flex;
    flex-direction: row;
    gap: 1rem;

    border-radius: 10px;

    cursor: pointer;
}

/*
============================================================
LOGOUT SECTION
============================================================
*/

.logout {
    width: 100%;
    padding: 0.5rem 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: var(--light-green);
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.id h1 {
    font-size: 1rem;
    line-height: 0.8rem;
    font-weight: 500;
}
.id span {
    font-size: 0.8rem;
    line-height: 0.8rem;
}

.profile-picture {
    height: 50px;
    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    overflow: hidden;
}
.profile-picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.logout-image {
    width: 24px;
}
.logout-image:hover {
    cursor: pointer;
}

/*
============================================================
MAIN
============================================================
*/

main {
    width: 100%;
    margin: 1rem;
}